<%= form_for(@michael) do |f| %>
  <% if @michael.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@michael.errors.count, "error") %> prohibited this michael from being saved:</h2>

      <ul>
      <% @michael.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
