<h1>Listing michaels</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @michaels.each do |michael| %>
  <tr>
    <td><%= link_to 'Show', michael %></td>
    <td><%= link_to 'Edit', edit_michael_path(michael) %></td>
    <td><%= link_to 'Destroy', michael, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Michael', new_michael_path %>
