<div class="row">
  <% @sample_pack.samples.each do |sample| %>
    <p class="playbutton" id="button_<%= sample.key_mapped_to.upcase.ord %>" data-id="<%= sample.id %>" data-sample="<%= sample.name %>"><%= sample.key_mapped_to %></p>
  <% end %>
</div>


<div id ="container">
  <input id="song_name">
  <a href="#" class="hidden" id="record_song" >
    <div class="button">
      <div class="circle"></div>
      <div class="record control"> </div>
    </div>
  </a>

  <a href="#" id="recording">
    <div class="button">
      <div class="circle"> </div>
      <div class="stop control"></div>
    </div>
  </a>


</div>






