<div id="songs-container">
  <div id="songs-background">
    <% @songs.each do |song| %>
      <div id="individual-song">
        <a href="#" class="playback-button" data-song_id="<%=song.id%>">
        <div class="button">
          <div class="circle"></div>
          <div class="play"></div>
        </div>
        </a>
        <div id="name"><%= song.name %></div>
        <%= link_to '', song, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash-o', :id => "delete" %>
        <% end %>
      </div>
  </div>
      <%= paginate @songs %>
</div>

